form {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  min-height: 80vh;
}

.action-btn {
  background-color: #24a19c;
  padding: 6px 20px;
  border: 1px solid #24a19c;
  color: #fff;
  margin: 30px 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  border-radius: 7px;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}

.input-date {
  border-width: 1.6px;
  width: 130px;
  padding: 2px 4px;
  border-color: gray;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}

.flex-div-alt {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}